.train-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Make sure the container takes up the full height of the viewport */
  }
  
  .train-details-container {
    align-items: center;
    width: 600px;
    margin-top: 60px;
    padding: 20px;
    background-color: #fdfdfd98;
    border: 5px solid #ccc;
    border-radius: 8px;
  }
  
  .book-button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 160px;
    width: 250px;
    align-self: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-button:hover {
    background-color: #0056b3;
  }

  .train{
    text-align: center;
    text-size-adjust: 20px;
  }
  
  .details-section h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .details-section p{
    text-align: center;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .passenger-section {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .passenger-inputs {
    margin-top: 10px;
  }
  
  input[type='number'],
  input[type='text'] {
    margin-right: 10px;
  }

  /* Add these styles to your Traindata.css file */

.passenger-inputs {
    margin-top: 10px;
    justify-content: center;
    align-items: center; 
    display: flex;
  }
  
  .passenger-inputs input {
    flex: 1;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .passenger-inputs input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  